/*(----------Navbar-CSS---------)*/
* {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-image: url("../img/gallery/header.jpg");  /* background picture */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    display: block;
    background-blend-mode: lighten;
    position: relative;
}

iframe{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    iframe {
    width: 100%;
    margin-top: 1rem;
}
}

.navbar {
    background-color: rgba(116, 113, 113, 0.459) !important;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.img {
    margin-right: 1rem;
}

@media only screen and (min-width: 1000px) {
    .img {
    width: 75px;
    margin-right: 1rem;
}
}

@media only screen and (max-width: 1000px) {
    .img {
    
    width: 40px;
    margin-right: 1rem;
}
}

@media only screen and (max-width: 509px) {
    .navbar-nav{
        background-color: black !important;
        padding-left: 10px;
    }
}


.navbar-nav .nav-link {
    color: #FFEA00 !important;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #FF5733 !important;
}

.dropdown-item {
    color: whitesmoke !important;
}

.navbar-nav .nav-subitem:hover .dropdown-item {
    color: #FF5733 !important;
    background-color: black !important;
}

/*(----------Navbar-CSS-END--------)*/

/*(----------Footer-CSS---------)*/
.btn-floating:hover {
    background-color: #ff474c;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    color: #ff474c !important;
}

/*(----------Footer-CSS-END-------)*/

/*(----------Scroll To Top button-------)*/
#scrolltotop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    
    /* visibility priority scroll button */
    z-index: 3; 
    /* visibility priority scroll button */
    
}

#scrolltotop:active{
    background: #cc2333;
}
/*(----------Scroll To Top button end-------)*/


/*(----------gallery style------------------)*/
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}
.gallery:hover .gallery__image {
    filter: grayscale(1);
}
.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.gallery__link {
    margin: 2px;
    overflow: hidden;
}
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;
}
.gallery__thumb {
    position: relative;
}
.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}
.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}



