/*(----------Navbar-CSS---------)*/
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: url("../img/Header.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: block;
    border: thin solid white;
}

.navbar {
    background-color: transparent !important;
    transition: 0.7s ease;
}

.navbar.scrolled {
    background:#353839 !important;
}

.img {
    margin-right: 1rem;
}

.lead{
    font-style: italic;
}

.img:hover{
    transform: rotate(-5deg);
    transition: linear 0.4s;
}

@media only screen and (min-width: 1000px) {
    .img {
    width: 75px;
    margin-right: 1rem;
}
}

@media only screen and (max-width: 1000px) {
    .img {
    width: 40px;
    margin-right: 1rem;
}
}

@media only screen and (max-width: 509px) {
    .navbar-nav{
        background-color: black !important;
        padding-left: 10px;
    }
}


.navbar-nav .nav-link {
    color: #FFEA00 !important;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #FF5733 !important;
}

.dropdown-item {
    color: whitesmoke !important;
}

.navbar-nav .nav-subitem:hover .dropdown-item {
    color: #FF5733 !important;
    background-color: black !important;
}

/*(----------Navbar-CSS-END--------)*/

/*----------Feature----------------*/
.feature {
    background-color: green;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}
/*----------Feature----------------*/

/*(----------Picnic-Info---------)*/
.info-1 {
    background-image: url("../img/Indoor-dinner.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: block;
}

#picnic-info-1{
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}


.info-2 {
    background-image: url("../img/Outdoor.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: block;
}

#picnic-info-2{
    color: whitesmoke;
}
    
/*(----------Picnic-Info-End--------)*/

/*(----------Footer-CSS---------)*/
.btn-floating:hover {
    background-color: #ff474c;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    color: #ff474c !important;
}

/*(----------Footer-CSS-END-------)*/


/*Creator Css */
.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    overflow: hidden;
}

.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}


.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

.single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
}

.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #3f43fd;
}

.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
}

.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

.single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    content: "";
    top: 12px;
    right: 30px;
}

.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}


.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070a57;
}

.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}

.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ff474c;
}

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #070a57;
}

.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ff474c;
}

.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
    color: #ff474c;
}

/*Thumb Responsive for smaller screen */
@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}

/*Thumb Responsive for smaller screen END*/

/*Creator Css END*/